@use 'global';

body {
  font-family: global.$main-font;
  color: global.$main-text-dark;
  background: white;
}

.not-implemented-section {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
}

.not-implemented-section .message {
  max-width: 600px;
  animation: fadeInDown 0.8s ease forwards;
}

.not-implemented-section .message i {
  color: global.$primary-500;
  margin-bottom: 1rem;
}

.not-implemented-section h1 {
  font-size: 2.5rem;
  margin: 0.5rem 0;
  color: global.$main-text-dark;
}

.not-implemented-section p {
  font-size: 1.125rem;
  color: global.$main-text-light;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
